body { 
  padding-top: 30px; 
  padding-left: 10px;
}

textarea {
  resize: none;
}

input[type=number] {
  width: 60px;
}

.nav-black-hover:hover {
  color: #000000;
}

.right-bar {
  border-left: 5px #000000;
}

.inline-img {
  display: block;
  height: auto;
  max-width: 92%;
  width: 92%;
}

.inline-img-right {
  float: right;
}

.img-small {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.recipe-name {
  font-weight: bold; 
}

.table-link:hover {
  color: #3f3f3f; 
  text-decoration: none; 
}

.btn-secondary {
  color: #373a3c;
  background-color: #fff;
  border-color: #ccc;
}

.btn-secondary:hover {
  background-color: #eee;
}

.td-number {
  text-align:right;
}

.jumbo-padding {
  padding-top: 50px;
  padding-left: 50px;
}

.alert-small {
  width: 500px;
}
